<strong>Hi, {{ provider }}</strong>
<p>Is canceled</p>
<p>
  <strong>Client: </strong> {{ user }} <br />
  <strong>Date: </strong> {{ date }} <br />
</p>
<p>
  <small>Date {{ date }} is already available</small>
</p>
